<div>
  <h1>
    Board: <span ng-bind="currentBoard.name"></span>
  </h1>

  <div class="board-config btn-toolbar">
    <div class="btn-group">
      <list-selector></list-selector>
      <card-col-selector></card-col-selector>
    </div>
  </div>
  <div class="gridStyle" ng-grid="gridOptions" ng-show="selectedListIds.length > 0 && selectedColumns.length > 0"></div>


  <div class="alert">
    <p ng-show="selectedListIds.length == 0">Please select at least one list.</p>
    <p ng-show="selectedColumns.length == 0">Please select at least one column.</p>
  </div>
</div>