<div>
  <button type="button" data-toggle="modal" href="#col-selector-{{board.id}}"
          class="btn btn-primary ts-list-selector-btn">Columns</button>

  <div class="modal fade" id="col-selector-{{board.id}}" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Configure Card Columns</h4>
        </div>
        <div class="modal-body">
          <a class="btn btn-default btn-small ts-btn-list" ng-repeat="c in columns"
                  ng-click="toggleColumn(c.field)" ng-class="{'btn-success': isColumnSelected(c.field)}">
            <span ng-bind="c.displayName"></span>
          </a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

