<div>
  <button type="button" data-toggle="modal" href="#filter-selector-{{board.id}}"
          class="btn btn-primary ts-list-selector-btn">Filters
  </button>

  <div class="modal fade" id="filter-selector-{{board.id}}" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Filters</h4>
        </div>


        <div ng-repeat="filter in filters" class="panel-group" id="filter-collapse-{{board.id}}-{{filter.name}}">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#filter-collapse-{{board.id}}-{{filter.name}}"
                   href="#collapse-{{$index}}">{{filter.desc}}</a>
              </h4>
            </div> <!-- /panel-heading -->
            <div id="collapse-{{$index}}" class="panel-collapse collapse">
              <div class="panel-body">
                <input type="text" name="lastUpdatedDate-{{board.id}}" ui-date>
              </div>
            </div>
          </div>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

