<div>
  <button tooltip type="button" data-toggle="modal" href="#list-selector-{{board.id}}" id="list-selector-btn-{{board.id}}"
          class="btn btn-primary" data-original-title="{{selectedListNames}}">
    <span data-toggle="tooltip" title="{{selectedListNames}}">Lists</span>
  </button>

  <div class="modal fade" id="list-selector-{{board.id}}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Configure Lists</h4>
        </div>
        <div class="modal-body">
          <button type="button" class="btn btn-default btn-small ts-btn-list" ng-class="{'btn-success': isSelectedList(board, list)}"
                  ng-repeat="list in board.lists" ng-click="toggleList(board, list)">
            <span ng-bind="list.name"></span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>

