<div class="navbar">
  <a class="navbar-brand" href="/#/">TrelloShots</a>
  <ul class="nav navbar-nav nav-pills">
    <li ng-repeat="board in boards">
      <button type="button" data-loading-text="Loading..." class="btn navbar-btn" ng-click="showBoard(board, $event)"
              ng-class="{'btn-primary': viewState.currentBoard.id == board.id}">
        <span ng-bind="board.name"></span>
      </button>
    </li>
  </ul>
  <p ng-hide="isAuthorized" class="pull-right">
    <button type="button" class="btn btn-default navbar-btn btn-info" ng-click="requestAuthorization()">
      Login
    </button>
  </p>
  <p ng-show="isAuthorized" class="pull-right">
    <button type="button" class="btn btn-default navbar-btn btn-warning" ng-click="requestDeauthorization()">
      Logout
    </button>
  </p>
</div>